body {
}

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

.navbar {
    display: inline-flex;
    align-items: center;
    padding: 4px;
    width: 100%;
    background: #333333; /* Old browsers */
    background: linear-gradient(to bottom,  #3b3b3b 0%,#222 100%);
}

#urlInput {
    margin: 0 0 0 4px;
    border-radius: 3px;
    height: 32px;
    flex-grow: 1;
}

.navButton {
    margin-left: 4px;
    border-radius: 3px;    
    height: 30px;
    width: 30px;
    min-width: 0;
    min-height: 0;
    box-shadow: 0 4px 3px -3px #000;
    color: #dedede;
}
.navButton, .navButton:disabled {
    border: 0;
    background: rgba(255,255,255,0.15) url('../images/icons.png') no-repeat;
}
.navButton:hover {
    border-color: #000;
    cursor: pointer;
    background-color: rgba(255,255,255,0.25);
    color: #fff;
}

/* 'button' added to this selector to override WinJS CSS */
button.navButton:active,
button.navButton:focus {
    background-color: rgba(255,255,255,0.35);
    color: #fff;
}
.navButton:disabled {
    cursor: default;
}
.navButton:disabled:hover,
.navButton:disabled:active,
.navButton:disabled:focus {
    background-color: rgba(255,255,255,0.15);
}

.buttonLabel {
    display: none;
}

.textButton {
    padding: 9px 10px 10px;
    width: auto;
    background-image: none;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.textButton .buttonLabel {
    display: inline-block;
}


.backButton {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.backButton:hover, .backButton:active {
    background-position: -30px 0;
}
.backButton:disabled {
    background-position: -60px 0;
}

.forwardButton {
    margin-left: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-position: 0 -30px;
}
.forwardButton:hover, .forwardButton:active {
    background-position: -30px -30px;
}
.forwardButton:disabled {
    background-position: -60px -30px;
}

.goButton {
    width: auto;
    background-image: none;
}

.stopButton {
    background-position: 0 -60px;
}
.stopButton:hover, .stopButton:active {
    background-position: -30px -60px;
}

.refreshButton {
    background-position: 0 -90px;
}
.refreshButton:hover, .refreshButton:active {
    background-position: -30px -90px;
}

.favButton {
    background-position: 0 -120px;
}
.favButton:hover, .favButton:active {
    background-position: -30px -120px;
}

.settingsButton {
    background-position: 0 -150px;
}
.settingsButton:hover, .settingsButton:active {
    background-position: -30px -150px;
}

#WebView {
    width: 100%;
    height: calc(100% - 40px);
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 640px;
	min-width: 320px;
	height: auto;
	z-index: 200;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
	opacity: 0;
}

.modal-show {
	visibility: visible;
	opacity: 1;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: all 0.3s;
}

.modal-show ~ .modal-overlay {
	opacity: .5;
	visibility: visible;
}

.favContent {
	color: #fff;
	background: black;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.favContent h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	border-radius: 3px 3px 0 0;
}

.favContent > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.favContent > div p {
	margin: 0;
	padding: 10px 0;
}

.favContent > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.favContent > div ul li {
	padding: 5px 0;
}

.favContent button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

.modalEffect-1 .favContent {
	transform: scale(1.15);
	opacity: 0;
	transition: all .3s;
}

.modal-show.modalEffect-1 .favContent {
	transform: scale(1);
	opacity: 1;
}
