/* BASE STYLES
--------------------------------------------- */

*, *:before, *:after {
	margin: 0;
	padding: 0;
  	box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-size: 100%;
  font-family: "Segoe UI Webfont", "Segoe UI", sans-serif;
  background: #fff;
  color: #1a1a1a;
}

@media (min-width: 56.25em) /* 900px */ {

  html {
  	font-size: 112.5%;
  }

}

/* TYPOGRAPHY
--------------------------------------------- */
@font-face{font-family:'wf_segoe-ui_normal';src:url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot');src:url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix') format('embedded-opentype'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff') format('woff'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf') format('truetype'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.svg#web') format('svg');font-weight:normal;font-style:normal}

a {
  outline: none;
}
a:link, a:visited {
  color: #0072c6;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #005293;
}
p, ul, ol {
  margin-bottom: 0.75rem;
  line-height: 1.25;
}
ul, ol {
  margin-left: 1.25em;
}
li {
  margin-bottom: 0.5rem;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-size: 1.325rem;
  line-height: 1;
}
h1 {
  margin-bottom: 1em;
  font-weight: 200;
  font-size: 2.5rem;
}
button, .button:link, .button:visited {
  display: inline-block;
  margin-bottom: 0.75rem;
  border: 0 none;
  outline: none;
  padding: 0.75rem;
  word-wrap: break-word;
  max-width: 100%;
  font-size: 1rem;
  background: #0072c6;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
button:hover, .button:hover {
  background: #0065b5;
  color: #005293;
  cursor: pointer;
}

@media (min-width: 56.25em) /* 900px */ {

  p, ul, ol,
  button, .button:link, .button:visited {
    font-size: 0.888888rem;
  }

}

/* LAYOUT
--------------------------------------------- */

.pageWrap {
  margin: 2rem;
}
	
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

 
@media (min-width: 56.25em) /* 900px */ {

  .pageWrap {
  	margin: 4rem;
  }

}


/* CARDS
--------------------------------------------- */

.cards {
  flex-wrap: wrap;
  margin: 0 -1.25rem;
}
.card {
  padding: 0 0.5rem 1rem;
  width: 100%;
}
.cardContent {
  display: block;
  padding: 1.25rem 1.25rem 0.5rem;
  width: 100%;
  background: #0078D7;
  color: #fff;
}
.cardTitle {
  word-wrap: break-word;
}
.cardContent a:link, .cardContent a:visited {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
.cardContent a:hover {
  border-bottom-color: #fff;
}
.cardContent button, .cardContent .button:link, .cardContent .button:visited {
  border: 0 none;
  background: #fff;
  color: #0078D7;
}
.cardContent button:hover, .cardContent .button:hover {
  background: #f4f4f4;
  color: #005293;
}

/* ALTERNATING CARD COLORS */
.card:nth-child(2n) .cardContent {
  background: #007e92;
}
.card:nth-child(2n) .button:link,
.card:nth-child(2n) .button:visited {
  color: #007e92;
}
.card:nth-child(2n) .button:hover {
  color: #00515f;
}

.card:nth-child(3n) .cardContent {
  background: #008272;
}
.card:nth-child(3n) .button:link,
.card:nth-child(3n) .button:visited {
  color: #008272;
}
.card:nth-child(3n) .button:hover {
  color: #004f45;
}

/* INDIVIDUAL CARDS */

.addedList {
  margin-left: 0;
  list-style: none;
}
.addedList li a {
  display: block;
  position: relative;
  padding-bottom: 0.5rem;
}
.addedList li a:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '\2192';
}
 
@media (min-width: 37.5em) /* 600px */ {

  .cards {
  	display: flex;
  	flex-wrap: wrap;
  	margin: 0 -1.25rem;
  }
  .card {
  	display: flex;
  	float: left;
  	padding: 0 1rem 2rem;
  	width: 50%;
  }

}

@media (min-width: 56.25em) /* 900px */ {

  .card {
  	width: 33%;
  }

}
