*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.navbar {
    display: inline-flex;
    align-items: center;
    padding: 4px;
    width: 100%;
    background: linear-gradient(to bottom, #3b3b3b 0%, #222 100%);
}

#urlInput {
    margin: 0 0 0 4px;
    border-radius: 3px;
    height: 32px;
    flex-grow: 1;
    padding-left: 35px;
    background-color: #eee;
    color: #666;
}

#urlInput:hover,
#urlInput:focus {
    background-color: #fff;
    color: #222;
}

.icon,
.icon img {
    width: 16px;
    height: 16px;
}

.icon {
    position: absolute;
    top: 10px;
    left: 80px;
}

.icon img {
    margin: 2px 0 0 2px;
    cursor: pointer;
}

.icon progress.win-ring {
    position: relative;
    color: #333;
    display: none;
}

.navButton {
    margin-left: 4px;
    border-radius: 3px;    
    min-height: 0;
    height: 30px;
    width: 30px;
    min-width: 0;
    min-height: 0;
    box-shadow: 0 4px 3px -3px #000;
    color: #dedede;
}

.navButton,
.navButton:disabled {
    border: 0;
    background: rgba(255,255,255,0.15) url('../images/icons.png') no-repeat;
}

.navButton:hover {
    border-color: #000;
    cursor: pointer;
    background-color: rgba(255,255,255,0.25);
    color: #fff;
}

.navButton:active,
.navButton.open {
    background-color: rgba(255,255,255,0.35);
    color: #fff;
}

.navButton:disabled {
    cursor: default;
}

.navButton:disabled:hover,
.navButton:disabled:active,
.navButton:disabled:focus {
    background-color: rgba(255,255,255,0.15);
}

.buttonLabel {
    display: none;
}

.backButton {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-position: -1px 0;
}

.backButton:hover,
.backButton:active {
    background-position: -31px 0;
}

.backButton:disabled {
    background-position: -61px 0;
}

.forwardButton {
    margin-left: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-position: 1px -30px;
}

.forwardButton:hover,
.forwardButton:active {
    background-position: -29px -30px;
}

.forwardButton:disabled {
    background-position: -59px -30px;
}

.stopButton {
    background-position: 0 -60px;
}

.stopButton:hover,
.stopButton:active {
    background-position: -30px -60px;
}

.refreshButton {
    background-position: 0 -90px;
}

.refreshButton:hover,
.refreshButton:active {
    background-position: -30px -90px;
}

.favButton {
    background-position: 0 -120px;
}

.favButton:hover,
.favButton:active {
    background-position: -30px -120px;
}

.settingsButton {
    background-position: 0 -150px;
}

.settingsButton:hover,
.settingsButton:active {
    background-position: -30px -150px;
}

#favMenu,
#settingsMenu {
    background-color: #3b3b3b;
    border-color: #999;
}

#favMenu .url {
    font-size: 12px;
    color: #999;
}

#WebView {
    width: 100%;
    height: calc(100% - 40px);
}